h2 {
  font-family: sans-serif;
}

th {
  border-width: 1px;
  padding: 2px;
  text-align: center;
  border: solid;
  border-color: gray;
}

td {
  border-width: 1px;
  padding: 2px;
  text-align: center;
  border: solid;
  border-color: gray;
}

#beanstable {
  border-collapse: collapse;
}

#baristatable {
  border-collapse: collapse;
}
