html {
  width: 100%;
}

body {
  background-color: #AA7939;
}

h1 {
  background-color: #2C1C0E;
  width: 100%;
  text-align: center;
  font-family: 'Short Stack';
  color:  #838B8B;
  font-size: 50px;
}

h2 {
  background-color: #2C1C0E;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Neucha';
  color:  #838B8B;
  font: 30px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main {
  display: block;
  background-color: #D4A76A;
  height: 386px;
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#mainpic {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#locationandhours {
}
